<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Form Wizard Stepper</div>
    </div>
</div>

<app-form-wizard-stepper>
  <app-progress-step>
    <h5>Step 1</h5>
    <button progressStepNext>Next</button>
  </app-progress-step>

  <app-progress-step>
    <h5>Step 2</h5>
    <button progressStepPrev>Previous</button>
    <button progressStepNext>Next</button>
  </app-progress-step>

  <app-progress-step>
    <h5>Step 3</h5>
    <button progressStepPrev>Previous</button>
    <button progressStepNext>Next</button>
  </app-progress-step>

  <app-progress-step>
    <h5>Step 4</h5>
    <button progressStepPrev>Previous</button>
    <button progressStepNext>Next</button>
  </app-progress-step>

</app-form-wizard-stepper>
